<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<title>Home Page</title>

	<script lang="javascript">
		function deleteMerchant(id) {
			var form = document.getElementById('updateMerchant-' + id);
			form.setAttribute('action', '/merchant/delete');
			form.submit();
		}
	</script>
</head>

<body>
	<table>
		<tr>
			<td>
				<h1>Hi, <span sec:authentication="principal.username"></span></h1>
			</td>
			<td>
				<form action="/logout" method="get">
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span><i
							class="fa fa-home"></i> Logout</button>
				</form>
			</td>
		</tr>
	</table>
	<span style="color:red; font-weight:bold" th:text="${error}" />

	<div sec:authorize="hasAuthority('USER')">
		<h2>Merchant data</h2>
		<table class="table table-borded table-responsive table-striped " id="table-list">
			<thead class="table-dark">
				<tr>
					<th th:text="ID" />
					<th th:text="Name" />
					<th th:text="Description" />
					<th th:text="E-mail" />
					<th th:text="Status" />
					<th th:text="TotalTransactionSum" />
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${merchant.id}" />
					<td th:text="${merchant.name}" />
					<td th:text="${merchant.description}" />
					<td th:text="${merchant.email}" />
					<td th:text="${merchant.status}" />
					<td th:text="${#conversions.convert(merchant.totalTransactionSum, 'Float')}" />
		</tr>

</tbody>
</table>
</div>
<div sec:authorize="hasAuthority('ADMIN')" >
<h3>Add Merchant</h3>
<form action="#" th:action="@{/merchant/create}" th:object="${merchant}" method="post">
	<table class="table table-borded table-responsive table-striped " id="table-list">
		<thead class="table-dark">
			<tr>
				<td>Name</td>
				<td>Description</td>
				<td>E-mail</td>
				<td>Status</td>
				<td>TotalTransactionSum</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> <input th:field="*{name}" type="text" /></td>
				<td> <input th:field="*{description}" /></td>
				<td> <input th:field="*{email}" /></td>
				<td>
					<select th:field="*{status}">
						<option value="ACTIVE">ACTIVE</option>
						<option value="INACTIVE">INACTIVE</option>
					</select>
				</td>
				<td> <input type="number" step="0.01" th:field="*{totalTransactionSum}" /></td>
				<td><button  type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>Add merchant</button></td>
			</tr>
		</tbody>
	</table>
</form>


<h3>Merchant List</h3>
<div class="table-content">
	<table class="table table-borded table-responsive table-striped " id="table-list">
		<thead class="table-dark">
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Description</td>
				<td>E-mail</td>
				<td>Status</td>
				<td>TotalTransactionSum</td>
				<td colspan="2">Actions</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="merchant, iStat : ${merchants}" th:style="${merchant.Status == T(com.igor.merchants.dal.entity.MerchantStatus).INACTIVE}? 
				'color: lightgray;'" >
<form th:id="'updateMerchant-' + ${merchant.id}" th:action="@{/merchant/update}" th:object="${merchant}" method="post">
			<td ><input hidden name="id" th:value="${merchant.id}"><span th:text="${merchant.id}"></span></td>
			<td><input name="name" th:value="${merchant.name}" ></td>
			<td ><input name="description" th:value="${merchant.description}" ></td>
			<td><input name="email" th:value="${merchant.email}" ></td>
			<td><select name = "status">
				<option th:selected="${merchant.Status == T(com.igor.merchants.dal.entity.MerchantStatus).ACTIVE}">ACTIVE</option>
				<option th:selected="${merchant.Status == T(com.igor.merchants.dal.entity.MerchantStatus).INACTIVE}">INACTIVE</option>
				</select>
				</td>
			<td th:text="${#conversions.convert(merchant.totalTransactionSum, 'Float')}" />
			<td > <button>Save</button>
			</td>
			<td>
				<button  th:onclick="'deleteMerchant(\'' + ${merchant.id} + '\');'" th:if="${merchant.transactionsCount==0}" >Delete</button>
				
			</td>  
	</form>
		</tr>
		</tbody>
	</table>
</div>

</div>	
<div sec:authorize="hasAuthority('USER')" >
<h3>Add transaction</h3>
<textarea name="trn" class="form-control" rows ="10" form="trnForm"></textarea>
<form id="trnForm" action="#" th:action="@{/transaction/create}" th:object="${Transaction}" method="post">
<button  type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>Add transaction</button>
</form>
</div>

<h3>Transaction List</h3>
<table class="table table-borded table-responsive table-striped " id="table-list">
		<thead class="table-dark">
			<tr>
			<th>Merchant ID</th>
			<th>Type</th>
			<th>UUID</th>
			<th>Origin UUID</th>
			<th>Amount</th>
			<th>Status</th>
			<th>CustomerEmail</th>
			<th>CustomerPhone</th>
			</tr>
	</thead>
	<tbody>
		<tr th:each="trn, iStat : ${transactions}" th:style="${iStat.odd}? 'font-weight: bold;'" th:alt-title="${iStat.even}? 'even' : 'odd'">
			<td th:text="${trn.merchant.Id}"></td>
			<td th:text="${trn.class.simpleName}" />
			<td th:text="${trn.uuid}" />
			<td><span th:if="${trn.class.simpleName} != 'AuthorizeTransaction'" th:text="${trn.origin?.uuid}"/></td>
			<td th:text="${#conversions.convert(trn.Amount, 'Float')}" />
			<td th:text="${trn.Status}" />
			<td th:text="${trn.CustomerEmail}" />
			<td th:text="${trn.CustomerPhone}" />
		</tr>
	</tbody>
</table>	

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
